<!-- Blog entries-->
<div class="col-lg-8">
  <% @posts.each do |post| %>
    <!-- Blog post-->
    <div class="card mb-4">
      <div class="card-body">
        <div class="small text-muted"><%= post.created_at %></div>
        <h2 class="card-title"><%= post.title %></h2>
        <p class="card-text"><%= post.body.length <= 2000 ? post.body : post.body[..2000] %></p>
        <a class="btn btn-primary" href="<%= post_path(post) %>">Читать дальше →</a>
      </div>
    </div>
  <% end %>

  <!-- Pagination-->
  <hr class="my-0">
  <%= paginate @posts %>

</div>
