<div class="col-lg-8">
  <!-- Post content-->
  <article>
    <!-- Post header-->
    <header class="mb-4">
      <!-- Post title-->
      <h1 class="fw-bolder mb-1"><%= @post.title %></h1>

      <!-- Post meta content-->
      <div class="text-muted fst-italic mb-2">Posted on <%= @post.created_at %> by Start Bootstrap</div>

      <!-- Post categories-->
      <% if topic = @post.topic %>
        <a class="badge bg-secondary text-decoration-none link-light"
           href="<%= posts_path %>/<%= topic.alias %>"><%= topic.title %></a>
      <% end %>
    </header>

    <!-- Post content-->
    <section class="mb-5">
      <p class="fs-5 mb-4"><%= @post.body %></p>
      </section>
  </article>

  <!-- Comments section-->
  <section class="mb-5">
    <div class="card bg-light">
      <div class="card-body">
        <!-- Comment form-->
        <%= render partial: 'comments/form',
                   locals: { model: @post } %>

        <% @comments.each do |comment| %>
        <!-- Comment -->
          <div class="d-flex mb-2">
            <!-- Parent comment-->
            <div class="flex-shrink-0" id="comment_<%= comment.id %>">
              <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
            </div>

            <div class="ms-3">
              <div class="fw-bold">Commenter Name</div>
              <%= comment.body %>
              <% if @replies.key?(comment.id) %>
              <% @replies[comment.id].each do |reply| %>
                <!-- Child comment -->
                <div class="d-flex mt-4" id="comment_<%= reply.id %>">
                  <div class="flex-shrink-0">
                    <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="...">
                  </div>

                  <div class="ms-3">
                    <div class="fw-bold">Commenter Name</div>
                    <div><%= reply.body %></div>
                  </div>
                </div>
              <% end %>
            <% end %>
              <div>
                <a class onclick="reply_form_<%= comment.id %>.style.display='block'"
                   style="cursor: pointer">Ответить</a>

                <div id="reply_form_<%= comment.id %>" style="display: none">
                  <%= render partial: 'comments/form', locals: { model: @post, parent_id: comment.id } %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</div>
