<!DOCTYPE html>
<html>
  <head>
    <title>SocialNetwork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-4">SocialNetwork</span>
        </a>
        <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2">Вход</button>
          <button type="button" class="btn btn-primary">Регистрация</button>
        </div>
      </header>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
